{#
 #
 # CEL - IMAGE
 #
 #}

{% set _cell_class = ['cel-image'] %}
{% extends 'partials/grid/cel.twig' %}


{% block cel_content_before %}

	{% if content.media.position|default('top') == 'top' %}
		{% include 'partials/media/' ~ content.media.type|default('img') ~ '.twig' with { 'media': content.media } %}
	{% endif %}

	{% if content.founder is defined %}
		<div class="founder-name">
			{{ content.founder.name }}
			<span> {{ content.founder.position }} </span>
		</div>
	{% endif %}

	{% if content.media.position|default('top') == 'middle' %}
		{% include 'partials/media/' ~ content.media.type|default('img') ~ '.twig' with { 'media': content.media } %}
	{% endif %}

{% endblock %}

{% block cel_content_after %}

	{% if content.media.position|default('top') == 'bottom' %}
		{% include 'partials/media/' ~ content.media.type|default('img') ~ '.twig' with { 'media': content.media } %}
	{% endif %}

	{% if content.social is defined %}

		{% block fouders_socialmedia %}
			{% for key, val in content.social %}
				<a class="{{ ['header-sm-' ~ key]|merge(val.classes|default([]))|join(' ') }}" href="{{ val.link }}" target="_blank"{% if val.attr is defined %} {{ html.attr(val.attr) }}{% endif %}>{{ val.name }}</a>
			{% endfor %}
		{% endblock %}

	{% endif %}

{% endblock %}
