{% extends "forms/field.html.twig" %}




{% block input %}

	{% for url, qty in page.header.cart_products %}

		{% set product = page.find(url) %}

		<div class="row cart-product" id="cart-{{ product.header.product.sku }}" data-route="{{ product.route }}">

			<div class="cartproduct-thumb">
				<a href="{{ product.route }}">{{ product.media[product.header.product.media.thumb].cropResize(64, 64).html() }}</a>
			</div>
			<div class="cartproduct-name"><a href="{{ product.route }}">{{ product.header.product.name }}</a></div>

			{% embed ["forms/fields/number/number.html.twig", 'forms/fields/key/key.html.twig'] with {'field': {'label': 'Cantidad', 'outerclasses': 'product-qty col-3', 'type': 'number'}, 'value': qty } %}
				{% block inputname %}name="data[products][qty]"{% endblock %}
			{% endembed %}
			<input type="hidden" name="data[products][name]" value="{{ product.header.product.name }}" />
			<input type="hidden" name="data[products][sku]" value="{{ product.header.product.sku }}" />

			<a class="cartproduct-delete ico" data-ico="&#xE00E;"></a>
			{{ nonce_field(site.catalog.nounce_action)|replace({'"nonce"': '"ajax-nonce"'}) }}

		</div>
	{% endfor %}

{% endblock %}


{% block label %}
	<a class="cart-goback button button-outline{% if page.header.cart_products|length == 0 %} empty{% endif %}" href="/" data-length="{{ page.header.cart_products|length }}">
		{% if page.header.cart_products|length > 0 %}
			¿Necesitas algo más?
		{% else %}
			Selecciona algunos productos
		{% endif %}
	</a>
{% endblock %}
