{#

SITE BASE TEMPLATE

#}

{% extends 'base/base.twig' %}

{# favicon #}
{% block favicon %}
	<link href="{{ url('theme://images/favicon/blackecco-group-32x32.png') }}" rel="icon" />
{% endblock %}

{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" />
	<link href="{{ url('theme://css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block head_meta %}
	<!-- Facebook Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '154343445369242');
	  fbq('track', 'PageView');
	</script>
	
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=154343445369242&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

{% endblock %}

{% block header %}
	{% include 'partials/header/bepos.twig' %}
{% endblock %}


{% block footer %}
	{% include 'partials/footer/bepos.twig' %}
{% endblock %}


{% block js_footer %}
	{# SCRIPTS #}
	<script src="{{ url('theme://js/script.js') }}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98624110-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-98624110-1');
	</script>

{% endblock %}
