{#

CATALOG BASE TEMPLATE

#}


{% set _body_class = ['news'] %}
{% extends 'base/site.twig' %}




{% block content_header %}
	<header class="top-banner interior-noticia">
		<div{{ html.classes(site.blog.header.class|default(['container-fluid']), []) }}>
			<h1 class="category-title">{{ header.category.title|default(header.title) }}</h1>
		</div>
	</header>
{% endblock %}


{% block content %}

	{% block before_content %}
	{% endblock %}


	<section{{ html.classes(site.blog.container.class|default(['container-fluid']), ['blog']) }}>

		<div{{ html.classes(site.blog.innercontainer.class|default(['row']), []) }}>

			<section{{ html.classes(site.blog.entries.class|default(['col-md-12']), ['blog-entries']) }}>

				{% block before_entries %}
				{% endblock %}

				{% block entries %}

					<div{{ html.classes(site.blog.innerproducts.class|default(['row']), []) }}>

						{% set entries = page.collection(_product_query|default({
							'items': '@self.descendants',
							'order': {
								'by': 'folder',
								'dir': 'desc'
							}
						})).ofType('entry') %}

						{% for entry in entries %}
							{% include 'partials/blog/entry.twig' with { 'entry': entry, 'col_class': site.blog.entry.class|default(['col-md-3', 'col-sm-6']) } %}
						{% endfor %}
					</div>

				{% endblock %}

				{% if site.blog.pagination.active %}
				{% endif %}

				{% block after_entries %}
				{% endblock %}

			</section>

		</div>

	</section>

	{% block after_content %}
	{% endblock %}

{% endblock %}
