{#

FICHA TECNICA BASE TEMPLATE

#}

{% set _body_class = ['entry'] %}
{% extends 'base/site.twig' %}


{% block content_header %}
	<div class="top-banner-bg entry-page-top"></div>
{% endblock %}


{% block content %}

	<article{{ html.classes(site.blog.container.class|default(['container-fluid']), ['entry-content']) }}>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="entry-title">
					<h1>{{ header.category.title|default(header.title) }}</h1>
				</div>

				{% if header.entry.media is defined %}
					<div class="featured-img">
						<img alt="{{ slide.name|striptags }}" src="{{ page.media[header.entry.media.thumb].url() }}"{% if header.entry.media.src2x is defined %} srcset="{{ page.media[header.entry.media.thumb].path }}/{{ page.media[header.entry.media.thumb].basename }}@2x.{{ page.media[header.entry.media.thumb].extension }} 2x"{% endif %} />
					</div>
				{% endif %}

				<div class="entry-description">
<!--					
					{% if page.date is defined %}
						<div class="blog-date">
							{{ page.date|date("d") }} / {{ page.date|date("M") }} / {{ page.date|date("Y") }}
						</div>
					{% endif %}	
-->						
					<p>{{ page.header.entry.balazo }}</p>

					{{ page.content }}
				</div>
			</div>
			
			

			
<!--
			<div class="entry-images col-md-10 offset-md-1">
				<div class="">
					<div id="entry-images" class="swiper-container">
						<div class="entry-image swiper-wrapper">
							{% for img in page.header.entry.media.gallery %}
								<div class="swiper-slide">
									{{ page.media[img.url].cropResize(472, 472).html() }}
								</div>
							{% endfor %}
						</div>

						<nav class="entry-image-thumbs" id="entry-image-thumbs">
							{% for thumb in page.header.entry.media.gallery %}
								<a data-num="{{ loop.index - 1 }}" id="entry-image-thumb-{{ loop.index - 1 }}">
									{{ page.media[thumb.url].cropResize(128, 128).html() }}
								</a>
							{% endfor %}
						</nav>
					</div>
				</div>

			</div>
-->
				
			

		</div>
	</article>

{% endblock %}


{% block content_footer %}
{% endblock %}
