{#

INTERIOR BASE TEMPLATE

#}

{% set _body_class = ['interior'] %}
{% extends 'base/site.twig' %}

{% block content_header %}
	<header class="category-header page-section-blue">
		<div{{ html.classes(site.catalog.header.class|default(['']), []) }}>
			<h2 class="category-title">{{ header.category.title|default(header.title) }}</h2>
		</div>
	</header>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		{{ page.content }}
	</div>
{% endblock %}
