{#

SLIDER TEMPLATE

#}

{% import 'base/macros.twig' as html %}
<div class="container">
	<div class="row">
		<div class="col-md-5 offset-md-1 slider-media">
			{% if slide.content.media is defined %}
				<img alt="{{ slide.name|striptags }}" src="{{ page.media[slide.content.media.src].url() }}" />
			{% endif %}
		</div>
		<div class="col-md-5 slider-content">

			{{ content|markdown }}

		</div>
	</div>
</div>
