{#

HEADER
Modula component

#}

{% extends 'partials/header/simple-menu.twig' %}


{% block header_after_menu %}
<!--
	<div class="header-sm">
		{% block footer_socialmedia %}
			{% for key, val in site.socialmedia %}
				<a class="{{ ['header-sm-' ~ key]|merge(val.classes|default([]))|join(' ') }}" href="{{ val.link }}" target="_blank"{% if val.attr is defined %} {{ html.attr(val.attr) }}{% endif %}>{{ val.name }}</a>
			{% endfor %}
		{% endblock %}
	</div>
-->
{% endblock %}
