{#

ENTRY BLOG VIEW
Modula component

#}

{% import 'base/macros.twig' as html %}

<div class="entry-node {{ col_class|default(['col-md-3', 'col-6'])|join(' ') }}" id="{{ entry.header.entry.id }}">

	<div class="featured-image">
		<a href="{{ entry.route }}" class="entry-link">
			{{ entry.media[entry.header.entry.media.thumb].html() }}
		</a>
	</div>

	<div class="featured-content">
		<a href="{{ entry.route }}" class="entry-link">
			<div class="title">{{ entry.title }}</div>
			<div class="balazo">{{ entry.header.entry.balazo }}</div>
		</a>
		<a href="{{ entry.route }}" class="entry-link-add button" data-entry="{{ entry.route }}">+ ver más</a>
	</div>

</div>
