{#

TWIG Simple footer

#}

{% extends 'partials/footer/simple.twig' %}


{% block footer_logo %}
	{{ parent() }}

	<div class="footer-mnu">
		<a class="footer-link" href="{{ page.find('/aviso-legal').url() }}">Aviso Legal</a> |
		<a class="footer-link" href="{{ page.find('/privacidad').url() }}">Pol&iacute;tica de Privacidad</a> |
		<a class="footer-link" href="{{ page.find('/politica-de-cookies').url() }}">Pol&iacute;tica de Cookies</a> |
		<a class="footer-link" href="{{ page.find('/condiciones-generales').url() }}">Condiciones Generales de Contrataci&oacute;n y Ventas</a>
	</div>

	<div class="copyright">© 2017, Black Ecco Group, todos los derechos reservados.</div>

{% endblock %}
