{#

Simple footer

#}
{% import 'base/macros.twig' as html %}


<div class="container-fluid">
	<div class="{{ ['row']|merge(footer.row_classes|default([]))|join(' ') }}">
		<div class="{{ ['footer-logo']|merge(footer.logo_classes|default([]))|join(' ') }}">
			{% block footer_logo %}
				<!-- <a class="footer-logo-link" href="{{ _site_logo_url|default(home_url) }}">{{ config.site.title }}</a> -->
				<div class="{{ ['footer-sm']|merge(footer.sm_classes|default([]))|join(' ') }}">
					{% block footer_socialmedia %}
						{% for key, val in site.socialmedia %}
							<a class="{{ ['footer-sm-' ~ key]|merge(val.classes|default([]))|join(' ') }}" href="{{ val.link }}" target="_blank"{% if val.attr is defined %} {{ html.attr(val.attr) }}{% endif %}>{{ val.name }}</a>
						{% endfor %}
					{% endblock %}
				</div>
			{% endblock %}
		</div>

		{% block footer_inner %}
		{% endblock %}

		
	</div>
</div>
