{#

TOP BANNER HEADER TEMPLATE
Modula component

#}

{% set _template_class = ['article'] %}
{% extends 'modular/txt.html.twig' %}

{% block sec_header %}
	<div class="top-banner-bg fumed-top-banner"></div>
{% endblock %}

{% block sec_content %}

	<article{{ html.classes(site.blog.container.class|default(['container-fluid']), ['entry-content']) }}>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="article-title">
					<h1>{{ header.title|default(header.title) }}</h1>
				</div>

				{% if header.entry.media is defined %}
					<div class="featured-img">
						<img alt="{{ slide.name|striptags }}" src="{{ page.media[header.entry.media.thumb].url() }}"{% if header.entry.media.src2x is defined %} srcset="{{ page.media[header.entry.media.thumb].path }}/{{ page.media[header.entry.media.thumb].basename }}@2x.{{ page.media[header.entry.media.thumb].extension }} 2x"{% endif %} />
					</div>
				{% endif %}

				<div class="article-content">
					<h3>{{ page.header.entry.bullet }}</h3>

					{{ page.content }}
				</div>
			</div>
		</div>
	</article>
{% endblock %}
