{#

VIDEO HEADER TEMPLATE
Modula component

#}
{% set _template_class = ['google-maps'] %}
{% extends 'modular/txt.html.twig' %}

{% macro columns(col, page) %}

	{% import 'base/macros.twig' as html %}

	{% set clases = col.class|length == 0 ? ['col'] : col.class %}
	<div class="{{ clases|join(' ') }}"{% if col.attr is defined %} {{ html.attr(col.attr) }}{% endif %}>

		{% if col.template is defined %}

			{% include col.template with { 'content': col.content, 'page': page } %}

		{% elseif col.children is defined %}

			<div class="{{ ['row']|merge(child.class|default([]))|join(' ') }}"{% if child.attr is defined %} {{ html.attr(child.attr) }}{% endif %}>
				{% for child in col.children.cols %}
					{{ _self.columns(child) }}
				{% endfor %}
			</div>

		{% else %}

			{{ col.content|markdown }}

		{% endif %}

	</div>

{% endmacro %}

{% block sec_header %}
	<div id="map" class="maps-container"></div>
{% endblock %}

{% block sec_content %}

	{{ page.content }}

	{% for row in page.header.grid %}

		<div class="{{ ['row']|merge(row.class|default([]))|join(' ') }}"{% if row.attr is defined %} {{ html.attr(row.attr) }}{% endif %}>

			{% for col in row.cols %}

				{{ _self.columns(col, page) }}

			{% endfor %}

		</div>

	{% endfor %}

{% endblock %}
