{#

TOP BANNER HEADER TEMPLATE
Modula component

#}

{% set _template_class = ['middle-banner'] %}
{% extends 'modular/txt.html.twig' %}


{% block sec_content %}
	{% if page.header.media.position|default('normal') == 'normal' %}
		<div class="row col-left">
			<div class="col-md-4 offset-md-1 wow fadein">
				{{ page.content }}
			</div>
		</div>
	{% endif %}

	{% if page.header.media.position|default('normal') == 'left' %}
		<div class="row col-left">
			<div class="col-md-4 offset-md-2 wow fadein">
				{{ page.content }}
			</div>
		</div>
	{% endif %}

	{% if page.header.media.position|default('normal') == 'right' %}
		<div class="row col-right">
			<div class="col-md-4 offset-md-6 wow fadein">
				{{ page.content }}
			</div>
		</div>
	{% endif %}
{% endblock %}
