{#

FEATURED TEMPLATE
Modula component

#}

{% extends 'modular/txt.html.twig' %}



{% block sec_content %}

	{{ topcontent|default(page.content)|markdown }}

	<div class="row justify-content-center entry-recomendations wow fadein">

		{% set list = entries|default(page.header.entries) %}

		{% for key, entry in list %}

			{% set data = page.find(entry) %}
			{% if data != empty %}
				{% include 'partials/blog/entry.twig' with {'entry': data, 'col_class': (['col-md-8'])} %}
			{% endif %}

		{% endfor %}

	</div>

{% endblock %}
