{#

TOP BANNER HEADER TEMPLATE
Modula component

#}

{% set _template_class = ['top-banner'] %}
{% extends 'modular/txt.html.twig' %}


{% block sec_content %}
	<div class="row">
		<div class="col-md-12">
			{{ page.content }}
		</div>
	</div>
{% endblock %}
